<div class="container">
  <h1><strong><%= "#{(current_user.name).capitalize}'s Profile" %></strong></h1>
  <h2>Instrument Reservations</h2>

  <div class="">
    <% @reservations.each do |reservation| %>
      <h3><%= "#{reservation.instrument.model}" %></h3>
      <p><%= "#{reservation.instrument.location}" %></p>
      <p><%= "From: #{reservation.start_date.strftime('%A %d %B %Y')}" %></p>
      <p><%= "Until: #{reservation.end_date.strftime('%A %d %B %Y')}" %></p>
      <p><%= "For: #{(reservation.end_date - reservation.start_date).to_i} #{(reservation.end_date - reservation.start_date).to_i == 1 ? "day" : "days"}" %></p>
      <p><%= "Owner: #{(reservation.instrument.user.name).capitalize}" %></p>
      <p><%= "Booking Status: #{reservation.status}" %></p>
      <p><%= link_to "Edit Reservation", edit_reservation_path(reservation), class: "btn btn-primary" %></p>

      <p><%= cl_image_tag reservation.instrument.photo.key, height: 300, width: 400, crop: :fill %></p>
    <% end %>
  </div>

  <%= link_to "Back to my reservations", rent_instruments_path, class: "btn btn-primary m-4" %>
  <%= link_to "Back to homepage", root_path, class: "btn btn-primary m-4" %>
</div>
