<div class="container" style="width: 500px">
  <h1>Edit Reservation</h1>

  <%= form_with(model: @reservation, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :start_date %>
      <%= form.date_field :start_date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :end_date %>
      <%= form.date_field :end_date, class: "form-control" %>
    </div>

    <%= form.submit "Update", class: "btn btn-primary" %>
  <% end %>

  <%= link_to "My Reservations", reservations_path, class: "btn btn-secondary mt-3" %>
</div>
