<div class="container" style="width: 500px; margin-top: 200px; margin-bottom: 245px;">
  <h1 style="margin-bottom: 50px; text-align: center;">Reservation date</h1>

  <%= form_with(model:[@instrument, @reservation], local: true) do |form| %>
    <div class="form-group">
      <%= form.label :start_date %>
      <%= form.date_field :start_date, class: "form-control" %>
    </div>

    <div class="form-group"style="margin-top: 30px;">
      <%= form.label :end_date %>
      <%= form.date_field :end_date, class: "form-control" %>
    </div>
    <div class="row mb-3" style="margin-top: 80px;">
        <div class="col-lg-12 text-center">
          <div class="d-flex justify-content-between align-items-center">
              <%= link_to fa_icon("angle-left", class: "fa-solid fa-2x mr-2", style: 'color: black; font-size: 40px;'), instruments_path %>
              <%= form.submit "Create Reservation", class: "btn btn btn-primary rounded-pill px-5" %>
          </div>
        </div>
    </div>
  <% end %>


</div>
