<h1>hello</h1>

<div class="container">

  <%= simple_form_for [@instrument, @reservation] do |f| %>
    <%= f.input :start_date, as: :date, label: 'Start Date' %>
    <%= f.input :end_date, as: :date, label: 'End Date' %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>


<p><%= link_to "Back to instruments", instruments_path %></p>

<%# <%= render "form", reservation: @reservation %>
