<div class="container p-2">
  <div class="row justify-content-between align-items-center">
    <div class="col-auto">
      <%= link_to fa_icon("angle-left", class: "fa-solid fa-2x mr-2", style: 'color: black; font-size: 40px;'), root_path%>
    </div>
    <div class="col-auto">
      <h1 class="text-center mt-5 mb-5">Instruments available for rental</h1>
    </div>
    <div class="col-auto">
      <%= link_to fa_icon("plus", class: "fa-solid fa-2x mr-2", style: 'color: black; font-size: 30px;'),  new_instrument_path%>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @instruments.each do |instrument| %>
      <div class="col">
        <%= link_to instrument_path(instrument), class: "card-link text-decoration-none" do %>
          <div class="card h-100" style="margin: 0 20px;">
            <%= cl_image_tag instrument.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top mx-auto d-block" %>
            <div class="card-body text-center">
              <h3 class="card-title text-dark" style="margin-top: 40px; font-size: 25px;"><%= instrument.model %></h3>
              <h5 class="card-text text-dark" style="margin-top: 40px;">Location: <%= instrument.location %></h5>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
