<div class="container p-2">
  <h1>Instruments available for rental</h1>

  <% @instruments.each do |instrument| %>

    <%= link_to instrument_path(instrument), class: "" do %>
      <h5 class="card-title mb-0" style=""><%= instrument.model %></h5>
      <p class="card-text small" style=""><%= instrument.location %></p>
      <p><%= cl_image_tag instrument.photo.key, height: 300, width: 400, crop: :fill %><p>
    <% end %>

  <% end %>

  <%= link_to "Add a new instrument", new_instrument_path, class: "btn btn-primary m-4" %>
  <%= link_to "Back to homepage", root_path, class: "btn btn-primary m-4" %>
</div>
