<!DOCTYPE html>
<html>
  <head>
    <title>Instrumentpal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div style="margin-top: 100px";>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= render "shared/footer" %>
      <script>
        // show footer when page height is less than window height
        if (document.documentElement.scrollHeight <= window.innerHeight) {
          document.querySelector('.footer').classList.add('show-footer');
        }

        // show footer when user scrolls to the end of the content
        window.addEventListener('scroll', function() {
          var pageHeight = document.documentElement.scrollHeight;
          var windowHeight = window.innerHeight;
          var scrollPosition = window.scrollY || window.pageYOffset || document.body.scrollTop + (document.documentElement && document.documentElement.scrollTop || 0);
          if (pageHeight - (scrollPosition + windowHeight) <= 50) {
            document.querySelector('.footer').classList.add('show-footer');
          } else {
            document.querySelector('.footer').classList.remove('show-footer');
          }
        });
      </script>
      <%= yield %>
    </div>
  </body>
</html>
